*{
    color: rgb(255, 0, 13);
    background-color: rgba(95, 102, 0, 0.2);
}
.grid-container{
    display: grid;
    grid-gap: 50px;
    padding: 50px;
    grid-template-rows: 500px;
   grid-template-areas: 
   ' navigationbar header header header   ' 
   ' navigationbar footer footer footer'                     
   ' navigationbar main main image '  
   ' navigationbar side side side'
   
   

   
}

.header{grid-area: header;}
.footer{grid-area: footer;}
.main{grid-area: main;}
.image{grid-area: image;}
.side {grid-area: side;}
.navigationbar {grid-area: navigationbar;}
